<div class="modal-header text-center">
    <div class="modal-title w-100 h3" id="exampleModalLabel">Trouble logging in?</div>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()">
     <!--  <span aria-hidden="true">&times;</span> -->
    </button>
</div>
<div class="modal-body text-center mx-4" *ngIf="!this.forgotButtonClicked else backToLogin">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
        <div class="my-4"><b>Enter your email and we'll send you a link to get back into your account.</b></div>
        <div formGroupName="emailGroup">
            <div>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid': displayMessage['email']}"/>
                <span class="invalid-feedback">
                    {{displayMessage['email']}}
                </span>
            </div>
            <div class="mt-3">
                <input type="email" name="confirmEmail" id="confirmEmail" class="form-control" placeholder="Confirm Email" formControlName="confirmEmail" [ngClass]="{'is-invalid': displayMessage['confirmEmail']}"/>
                <span class="invalid-feedback">
                    {{displayMessage['confirmEmail']}}
                </span>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn col-12 col-sm-5 my-5 gradient-custom-2" [disabled]="!forgotPasswordForm.valid">Send Link</button>
        </div>
    </form>
</div>
<ng-template #backToLogin>
    <div class="modal-body text-center mx-4 my-3">
        <span><b>The link to reset your password has been sent to your registered email.</b></span>
        <div class="row">
            <div class="col-2 col-md-3"></div>
            <div class="col-8 col-md-6"><a class="btn nav-link text-center h5 my-4 py-2 px-3" role="button"  (click)="close()">Back to Login</a></div>
            <div class="col-2 col-md-3"></div>
        </div>
    </div>
</ng-template>      