<div class="row">
    <div class="col-12 col-md-1 "></div>
    <div class="col mx-4 mx-md-0 card px-0 my-4 justify-content-center shadow rounded-0">
        <div class="row border-secondary rounded-0">
            <div class="card-header col-12 col-md-4 d-flex pt-5 pb-3 rounded-0">
                <div class="" *ngIf="this.dishInfo; else newDish">
                    <div class="h2 mt-4 text-center" id="exampleModalLabel">{{this.title| titlecase}}</div>
                    <img [src]=this.dishInfo.dishImageUrl  class="img-fluid rounded-circle mt-3 bg-white" alt=""  onerror="this.src='../../../assets/img/add-dish.png';"/>
                </div>
            </div>
            <div class="card-body col-12 col-md-8  px-5">
                <form [formGroup]="dishListForm" (ngSubmit)="onFormSubmit()">
                    <div class="pt-0">
                        <div class="form-group row mt-1 pl-0" *ngIf="this.dishInfo">
                            <label class="col-sm-3 px-0" for ="dishId">Dish ID<sup
                                class="text-danger">*</sup></label>
                            <input type="number" class="form-control col-sm text-secondary bg-light" name="dishId" formControlName="dishId" readonly>
                        </div>

                        <div class="form-group row mt-2 pl-0">
                            <label class="col-sm-3 px-0" for="dish_name">Name<sup
                                class="text-danger">*</sup></label>
                            <div class="d-block col-sm-9 px-0">
                                <input type="text" id="dish_name" class="form-control col" name="dish_name" formControlName="dish_name" [ngClass]="{'is-invalid': displayMessage['name']}">
                                <span class="invalid-feedback">
                                    {{displayMessage['name']}}
                                </span>
                            </div>
                        </div>

                        <div class="form-group row mt-2 pl-0">
                            <label class="col-sm-3 px-0" for="price">Price (USD)
                                <sup class="text-danger">*</sup></label>
                                <div class="d-block col-sm-9 px-0">
                                    <input type="number" id="price" class="form-control col" name="price" formControlName="price" [ngClass]="{'is-invalid': displayMessage['price']}">
                                <span class="invalid-feedback">
                                    {{displayMessage['price']}}
                                </span>
                            </div>
                        </div>

                        <div class="form-group row mt-2 pl-0">
                            <label class="col-sm-3 px-0" for="restaurant">Restaurant
                                <sup class="text-danger">*</sup>
                            </label>
                            <div class="dropdown d-block col-sm-9 px-0">
                                <!-- <select class="btn btn-outline-secondary" id="restDeatilDropdown">
                                    <option class="dropdown-item" id="chooseRestaurant" value="">Choose a Restaurant</option>
                                    <option [defaultSelected]="this.dishInfo?.restaurant?.id" [id]="rest?.id" class="dropdown-item"  *ngFor="let rest of listOfRestaurants">
                                        {{ rest?.id}} - {{rest?.name}}
                                    </option>
                                </select> -->
                                <select class="btn btn-outline-secondary text-start" id="restDeatilDropdown" formControlName="restaurant" [ngClass]="{'is-invalid': displayMessage['restaurant']}">
                                    <option class="dropdown-item" id="chooseRestaurant" [ngValue]="null" disabled>Choose a Restaurant</option>
                                    <option [id]="rest?.id" class="dropdown-item"  *ngFor="let rest of listOfRestaurants$ | async" [ngValue]="rest.id">
                                        {{rest?.name}}
                                    </option>
                                </select>
                                <span class="invalid-feedback">
                                    {{displayMessage['restaurant']}}
                                </span>
                            </div>
                        </div>

                        <div class="form-group row mt-2 pl-0">
                            <label class="col-sm-3 px-0" for="description">Description</label>
                            <textarea rows="5" cols="10" id="description" class="form-control col" name="description" formControlName="description"></textarea>
                        </div>

                        <div class="form-group row mt-2 pl-0">
                            <label class="col-sm-3 px-0" for="category">Category</label>
                            <input type="text" id="category" class="form-control col" name="category" formControlName="category">
                        </div>

                        <div class="form-group row mt-2 pl-0">
                            <label class="col-sm-3 px-0" for="dishImageUrl">Image Url</label>
                            <input type="text" id="dishImageUrl" class="form-control col" name="dishImageUrl" formControlName="dishImageUrl">
                        </div>

                        <!-- Error Message -->
                        <div class="form-group row form-outline mb-4 mt-4 text-center" *ngIf="this.errorMessage">
                            <div class="d-block col">
                                <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    <div>
                                        &nbsp;&nbsp;{{ this.errorMessage }}
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                        <!-- Error Message -->
                        <!-- <div class="form-group row form-outline mb-4 text-center" *ngIf="this.errorMessage">
                            <div class="d-block col">
                                <span class="custom-invalid-feedback">
                                    {{ this.errorMessage }}
                                </span>
                            </div>
                        </div> -->

                        <div class="row d-flex justify-content-sm-around mt-4">
                            <button type="submit" id="editRestaurantButton" class="col-12 col-sm-3 col-xl-3 btn btn-secondary " [disabled]="!dishListForm.valid">
                                Save
                            </button>
                            <a type="button" class="col-12 col-sm-3 col-xl-3 my-2 my-sm-0 btn btn-secondary" [routerLink]="['/restaurants']" *ngIf="dishInfo">
                                Back to Restaurant
                            </a>
                            <a type="button" class="col-12 col-sm-3 col-xl-3 my-2 my-sm-0 btn btn-secondary" (click)="openDeleteDishModal(deleteDishModal)" *ngIf="dishInfo && dishListForm.valid">
                                Delete
                            </a>
                            <a type="button" class="col-12 col-sm-3 col-xl-2 my-2 my-sm-0 btn btn-secondary disabled"  *ngIf="dishInfo && !dishListForm.valid">
                                Delete
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-1"></div>
    <ng-template #newDish>
        <div class="custom-add-element">
            <div class="h2 mt-4 text-center" id="exampleModalLabel">Add New Dish</div>
            <img [src]=this.addDishImage  class="img-fluid rounded-circle mt-3 bg-white w-75 mx-auto d-block" alt=""/>
        </div>
    </ng-template>
</div>

<ng-template #deleteDishModal let-modal>
	<div class="modal-header ">
		<h4 class="modal-title" id="modal-basic-title">Delete Dish</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="my-2 d-flex  flex-column align-items-center">
            <p class="font-weight-bold"><strong>Confirm if you want to delete the dish.</strong></p> 
            <p class="font-weight-bold"><strong>Once deleted it cannot be reverted back.</strong></p>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn  me-1" (click)="onDelete()">Delete Restaurant</button>
	</div>
</ng-template>