<div class="row gx-0">
    <div class="cust-Driver-mgmt-div col card mb-3 my-4 justify-content-center shadow">
        <div class="row ">
            <div class="border-start border-secondary">
                <div class="card-header d-flex pt-3 pb-2">
                    <div class="gradient-custom-2">
                        <div class="h4" id="exampleModalLabel">Orders Management</div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="allOrder">
                        <div class="row">
                            <div class="col col-md-4 col-lg-3 col-xl-2">Filter by Order Id/User Name :</div>
                            <div class="col col-md-4 col-lg-3 col-xl-2 d-flex">
                              <input type="search" [(ngModel)]="listFilter" />
                              <span class="input-group-text border-0" id="search-addon">
                                <i class="fa fa-search"></i>
                              </span>
                            </div>
                        </div>
                        <div class="row" *ngIf="listFilter">
                            <div class="col-md-6">
                                <h4>Filtered by: {{listFilter}}</h4>
                            </div>
                        </div>
                        <div class="table-responsive pt-3" ngbScrollbar>
                            <table class="table table-bordered table-hover ">
                                <thead class="table-light">
                                    <tr>
                                        <th (click)="sort('orderId', booleanValue)">ID 
                                            <i *ngIf="modifiedBy == 'orderId' && booleanValue" class="fa fa-arrow-up"></i>
                                            <i *ngIf="modifiedBy == 'orderId' && !booleanValue" class="fa fa-arrow-down"></i>
                                        </th>
                                        <th (click)="sort('orderStatus', booleanValue)">Status
                                            <i *ngIf="modifiedBy == 'orderStatus' && booleanValue" class="fa fa-arrow-up"></i>
                                            <i *ngIf="modifiedBy == 'orderStatus' && !booleanValue" class="fa fa-arrow-down"></i>
                                        </th>
                                        <th (click)="sort('totalItems', booleanValue)">Total Items
                                            <i *ngIf="modifiedBy == 'totalItems' && booleanValue" class="fa fa-arrow-up"></i>
                                            <i *ngIf="modifiedBy == 'totalItems' && !booleanValue" class="fa fa-arrow-down"></i>
                                        </th>
                                        <th (click)="sort('totalAmount', booleanValue)">Total
                                            <i *ngIf="modifiedBy == 'totalAmount' && booleanValue" class="fa fa-arrow-up"></i>
                                            <i *ngIf="modifiedBy == 'totalAmount' && !booleanValue" class="fa fa-arrow-down"></i>
                                        </th>
                                        <th (click)="sort('paymentStatusTitle', booleanValue)">Payment Status
                                            <i *ngIf="modifiedBy == 'paymentStatusTitle' && booleanValue" class="fa fa-arrow-up"></i>
                                            <i *ngIf="modifiedBy == 'paymentStatusTitle' && !booleanValue" class="fa fa-arrow-down"></i>
                                        </th>
                                        <th (click)="sort('paymentMethodTitle', booleanValue)">Payment Method
                                            <i *ngIf="modifiedBy == 'paymentMethodTitle' && booleanValue" class="fa fa-arrow-up"></i>
                                            <i *ngIf="modifiedBy == 'paymentMethodTitle' && !booleanValue" class="fa fa-arrow-down"></i>
                                        </th>
                                        <th (click)="sort('user.first_name', booleanValue)">User
                                            <i *ngIf="modifiedBy == 'user.first_name' && booleanValue" class="fa fa-arrow-up"></i>
                                            <i *ngIf="modifiedBy == 'user.first_name' && !booleanValue" class="fa fa-arrow-down"></i>
                                        </th>
                                        <th (click)="sort('delivery', booleanValue)">Delivery
                                            <i *ngIf="modifiedBy == 'delivery' && booleanValue" class="fa fa-arrow-up"></i>
                                            <i *ngIf="modifiedBy == 'delivery' && !booleanValue" class="fa fa-arrow-down"></i>
                                        </th>
                                        <th>Instruction</th>
                                        <th (click)="sort('driver', booleanValue)">Driver
                                            <i *ngIf="modifiedBy == 'driver' && booleanValue" class="fa fa-arrow-up"></i>
                                            <i *ngIf="modifiedBy == 'driver' && !booleanValue" class="fa fa-arrow-down"></i>
                                        </th>
                                        <th>Address</th>
                                        <th (click)="sort('orderDate', booleanValue)">Order Date
                                            <i *ngIf="modifiedBy == 'orderDate' && booleanValue" class="fa fa-arrow-up"></i>
                                            <i *ngIf="modifiedBy == 'orderDate' && !booleanValue" class="fa fa-arrow-down"></i>
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of filteredOrder | paginate
                                    : {
                                        itemsPerPage: tableSize,
                                        currentPage: page,
                                        totalItems: count
                                      };">
                                        <td role="button" [routerLink]="['/orders',data.orderId,'edit']"><u>{{data.orderId}}</u></td>
                                        <td>{{data.orderStatus}}</td>
                                        <td>{{data.totalItems}}</td>
                                        <td>{{data.totalAmount | number : '1.2-2' | currency}}</td>
                                        <td>{{data.paymentStatusTitle}}</td>
                                        <td>{{data.paymentMethodTitle}} </td>
                                        <td role="button" [routerLink]="['/users',data.user!.id]"><u>{{data.user!.first_name}} {{data.user!.last_name}}</u> </td>
                                        <td>
                                            <u role="button" [routerLink]="['/deliveries',data.delivery.id]" *ngIf="data.delivery">{{data.delivery.id}}</u>
                                            <span *ngIf="!data.delivery">Pending</span>
                                        </td>
                                        <td>{{data.instruction}}</td>
                                        <td>
                                            <u role="button" [routerLink]="['/drivers',data.delivery?.driver?.id]" *ngIf="data.delivery?.driver">{{data.delivery?.driver?.first_name}} {{data.delivery?.driver?.last_name}} </u>
                                            <span *ngIf="!data.delivery?.driver">Not Assigned</span>
                                        </td>
                                        <td><p *ngIf="data.address">{{data.address.street!}}, {{data.address.city!}}, {{data.address.state!}}{{data.address.pincode!}}</p></td>
                                        <td>{{data.orderDate | date}}</td>
                                        <td class="d-flex justify-content-evenly">
                                            <a  role="button" [routerLink]="['/orders',data.orderId,'edit']"><i class="fa fa-edit custIconColor" title="Edit Orders"></i></a>
                                            <!-- <a role="button" (click)="viewDriver(data)"><i class="fa fa-user custIconColor" title="Go To Driver"></i></a> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end">
                                <pagination-controls
                                  previousLabel="Prev"
                                  nextLabel="Next"
                                  (pageChange)="onTableDataChange($event)">
                                </pagination-controls>
                            </div>
                        </div>
                    </div>

                    <!-- Error Message -->
                    <div class="form-group row form-outline mb-4 mt-4 text-center" *ngIf="this.errorMessage">
                        <div class="d-block col">
                            <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                                <i class="fa fa-exclamation-triangle"></i>
                                <div>
                                    &nbsp;&nbsp;{{ this.errorMessage }}
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-end align-items-center">
                        <button class="btn gradient-custom-2 me-1" [routerLink]="['/orders/0/edit']" >Add New Order</button>
                    </div>
                    <!-- </p> -->
                </div>
            </div>
        </div>
    </div>
</div>
