<div class="row">
    <div class="col-12 col-md-1 "></div>
    <div class="col mx-4 mx-md-0 card px-0 my-4 justify-content-center shadow rounded-0">
        <div class="row border-secondary rounded-0">
            <div class="card-header col-12 col-md-4 d-flex pt-5 pb-3 rounded-0">
                <div class="row d-flex flex-column justify-content-center">
                    <div class="" *ngIf="this.adminInfo; else newAdmin">
                        <div class="h2 mt-4 text-center" id="exampleModalLabel">{{this.title| titlecase}}</div>
                        <img [src]="this.addProfileImage"  class="img-fluid rounded-circle mt-4 bg-white  w-75 mx-auto d-block" alt="" onerror="this.src='../../../assets/img/add-admin.png';"/>
                    </div>
                    <!-- <div class="mt-4 d-flex flex-column justify-content-center">
                        <input type="file" (change)="onFileSelected($event)">
                        <button (click)="uploadFile()">Upload</button>
                    </div>  -->   
                </div>
            </div>
            <div class="card-body col-12 col-md-8  px-5">
                <form [formGroup]="adminListForm" (ngSubmit)="onFormSubmit()">
                    <div class="pt-0">

                        <div class="form-group row form-outline mt-1 mb-4 pl-0" *ngIf="this.adminInfo">
                            <label class="form-label col-sm-3 px-0" for ="adminId">Admin ID<sup class="text-danger">*</sup></label>
                            <div class="d-block col-sm-8">
                                <input type="number" class="form-control col-sm text-secondary bg-light" name="adminId" formControlName="adminId" readonly>
                            </div>
                        </div>
                        
                        <!-- Name input -->
                        <div class="form-group row form-outline mb-4 pl-0">
                            <label class="form-label d-block col-sm-3 px-0" for="fullName">Full Name<sup
                                class="text-danger">*</sup></label>
                            <div class="d-block col-sm-8">
                                <input type="text" id="fullName" class="form-control" formControlName="fullName" 
                                [ngClass]="{'is-invalid': displayMessage['fullName']}"/>
                                <span class="invalid-feedback">
                                    {{displayMessage['fullName']}}
                                </span>
                            </div>
                        </div>
                        
                        <!-- Email input -->
                        <div class="form-group row form-outline mb-4">
                            <label class="form-label d-block col-sm-3 px-0" for="email">Email<sup
                                class="text-danger">*</sup></label>
                            <div class="d-block col-sm-8">
                                <input type="email" id="email" class="form-control text-secondary bg-light" formControlName="email" readonly>
                            </div>
                        </div>

                        <!-- Password input -->
                        <div class="form-group row form-outline mb-4">
                            <label class="form-label d-block col-sm-3 px-0" for="password">Password<sup
                                class="text-danger">*</sup></label>
                            <div class=" d-block col-sm-8">
                                <input type="password" id="password" class="form-control" formControlName="password" 
                                [ngClass]="{'is-invalid': displayMessage['password']}"/>
                                <span class="invalid-feedback">
                                    {{displayMessage['password']}}
                                </span>
                            </div>
                        </div>
                        
                        <!-- Img Url input -->
                        <div class="form-group row form-outline mb-4 pl-0">
                            <label class="form-label d-block col-sm-3 px-0" for="imgUrl">Image Url</label>
                            <div class="d-block col-sm-8">
                                <input type="text" id="imgUrl" class="form-control" formControlName="imgUrl" 
                                [ngClass]="{'is-invalid': displayMessage['imgUrl']}"/>
                                <span class="invalid-feedback">
                                    {{displayMessage['imgUrl']}}
                                </span>
                            </div>
                        </div>

                        <!-- Admin Since input -->
                        <div class="form-group row form-outline mb-4 pl-0">
                            <label class="form-label d-block col-sm-3 px-0" for="addedOn">Admin Since</label>
                            <div class="d-block col-sm-8">
                                <input type="text" id="addedOn" class="form-control  text-secondary bg-light" formControlName="addedOn" readonly>
                            </div>
                        </div>
                        
                        <!-- Register Success Message -->
                        <div class="alert alert-success alert-dismissible fade show d-flex justify-content-between" role="alert" *ngIf="this.updateSuccess">
                            <span> User Data updated successfully.</span>
                            <a type="button" href="" class="custom-alert close" data-bs-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </a>
                        </div>

                        <!-- Error Message -->
                        <div class="form-group row form-outline mb-4 mt-4 text-center" *ngIf="this.errorMessage">
                            <div class="d-block col">
                                <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    <div>
                                        &nbsp;&nbsp;{{ this.errorMessage }}
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row d-flex justify-content-sm-around mt-4">
                            <button type="submit" id="editorderButton" class="col-12 col-sm-4 col-xl-3 btn btn-secondary " [disabled]="!adminListForm.valid">
                                Save
                            </button>
                            
                            <a type="button" class="col-12 col-sm-4 col-xl-3 my-2 my-sm-0 btn btn-secondary" [routerLink]="['/welcome']">
                                Cancel
                            </a>
                            <!-- <a type="button" class="col-12 col-sm-4 col-xl-3 my-2 my-sm-0 btn btn-secondary disabled"  *ngIf="!adminInfo?.order">
                                View Order
                            </a>
                            <a type="button" class="col-12 col-sm-4 col-xl-3 my-2 my-sm-0 btn btn-secondary" [routerLink]="['/dishes',adminInfo?.dish?.dishId]"  *ngIf="adminInfo?.dish">
                                View Dish
                            </a>
                            <a type="button" class="col-12 col-sm-4 col-xl-3 my-2 my-sm-0 btn btn-secondary disabled"  *ngIf="!adminInfo?.dish">
                                View Dish
                            </a> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-1"></div>
    <ng-template #newAdmin>
        <div class=" ">
            <div class="h2 mt-4 text-center" id="exampleModalLabel">Add New Admin</div>
            <img [src]=this.addProfileImage  class="img-fluid rounded-circle mt-3 bg-white  w-75 mx-auto d-block" alt=""/>
        </div>
    </ng-template>
</div>